.card{
    margin: 1% auto;
    border: 1px solid black;
    width: 60%;
    padding: 5%;
    box-shadow: 8px 8px 10px -5px rgb(8, 8, 8);
    text-align: center;
    border-radius: 10%;
    background-color: 
a{
    text-decoration: none;
    color:#000000;
    font: bold;

}
.btn{
    margin-top: 2%;
    display: black;
    background-color: darkblue;
    color: white;
    padding: 1%;
    text-align: center;


}
@media only screen and (min-widt:320px) and (max-width: width 786px;){

    .card{
        width: 80%;
    }
}